<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BOARD 
        link(rel="stylesheet", href="css/styles.css")
    body
        section.home
            .home__left 
            .home__center.hc 
                block content
            .home__right 
        