.home {
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: center;
}

.home .home__center {
  width: 1300px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.home .home__left,
.home__right {
  width: calc((100% - 1300px) / 2);
}

.hc .hc__dataList {
  width: 100%;
  height: 30px;

  background: linear-gradient(#000, #555);
  color: #fff;
  border-radius: 4px;

  display: flex;
  flex-direction: row;

  margin-top: 50px;
}

.hc .hc__dataList li:nth-child(1) {
  width: 50px;
  height: 100%;
  line-height: 30px;
  border-right: 1px solid #fff;

  text-align: center;
}

.hc .hc__dataList li:nth-child(2) {
  width: 850px;
  height: 100%;
  line-height: 30px;
  border-right: 1px solid #fff;

  text-align: center;
}

.hc .hc__dataList li:nth-child(3) {
  width: 150px;
  height: 100%;
  line-height: 30px;
  border-right: 1px solid #fff;

  text-align: center;
}

.hc .hc__dataList li:nth-child(4) {
  width: 250px;
  height: 100%;
  line-height: 30px;
  border-right: 1px solid #fff;

  text-align: center;
}

.hc .hc__list {
  width: 100%;
  height: 25px;

  border-bottom: 2px solid #999;

  display: flex;
  flex-direction: row;
}

.hc .hc__list li:nth-child(1) {
  width: 50px;
  height: 100%;
  line-height: 27px;

  text-align: center;
}

.hc .hc__list li:nth-child(2) form input[type="submit"] {
  outline: none;
  border: none;
  background: none;

  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.hc .hc__list li:nth-child(2) {
  width: 850px;
  height: 100%;
  line-height: 27px;

  text-align: center;

  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.hc .hc__list li:nth-child(2):hover {
  text-decoration: underline;
}

.hc .hc__list li:nth-child(3) {
  width: 150px;
  height: 100%;
  line-height: 27px;

  text-align: center;
}

.hc .hc__list li:nth-child(4) {
  width: 250px;
  height: 100%;
  line-height: 27px;

  text-align: center;
}

.hc__buttonArea {
  width: 100%;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.hc__buttonArea form input[type="submit"] {
  background: none;
  outline: none;
  border: none;

  width: 100px;
  height: 25px;
  border-radius: 30px;
  background-color: darkblue;
  color: #fff;
  box-shadow: 2px 2px 2px #999;
  cursor: pointer;

  transition: 0.3s;
}

.hc__buttonArea form input[type="submit"]:hover {
  background-color: lightskyblue;
}
